* {
   margin: 0;
   padding: 0;
  }


html, body
{
   background-color: #F2E4E1
}


/*
/*
=================================================
SEARCH
=================================================
*/
form{
   width:100%;
   max-width:600px;
   margin:0 auto;
}
input{
   width:100%;
   font-size:32px;
   margin:5px 0;
   border:none;
   padding:10px;
   outline:none;
   display:inline-block;
}
.search-bar{
   margin-left: 1%;
   width:77%;
   max-width: max-content;
   background-color: #F2F0E1;
   display:inline-block;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}
.submit-button{
   min-width:70px;
   max-width: 100px;
   width: auto;
   background:#afa55d;
   color: #F2F0E1;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}

.submit-button:hover {
   background-color: #8b834b;
 }

 .google-search-whole
 {
  margin: inherit, auto;ß

 }

/*
=================================================
BOOKMARKS
=================================================
*/
.bookmarks a{
   text-decoration:none;
}
.bookmarks{
   padding:30px;
   clear:both;
}
.bookmarks i{
   font-size:42px;
   margin:0 20px;
   color:#000000;
   transition:.15s;
   vertical-align: top;
}
.bookmarks i:hover{
   font-size:72px;
   position:relative;
}

 /*
=================================================
WEATHER
=================================================
*/
.weather-widget
{
   width: 100%;
   margin: 0;
   padding: 0px;
   height: auto;
   
}





 /*
=================================================
CLOCKS
=================================================
*/

.clock, .vl
{
   display: inline-block;
}

h1{
   display: inline-block;
   margin-top: 130px;
   font-size: 60px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}

.kiev
{
   position: relative;
   left: 8%;
}

.search-and-clock
{

   min-width: 470px;
   max-width:480px;
   margin:0 auto;
  
   
   
}